
#Ignore matlab autosaves, mat files and mcc intermediate files
*~
*.asv
*.mat
src/MATLAB/*.c
src/MATLAB/*.log
src/MATLAB/*.prj
src/MATLAB/*.txt
bin/*.c
bin/*.log
bin/*.prj
bin/*.txt
segmentationData/

# Ignore segmentation help function used in compiled LEVER versions.
CompiledSegHelp.m

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.opensdf
*.sdf
*.ipch
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
src/c/[Bb]in
src/c/*/[Dd]ebug*/
*.lib
*.sbr
src/c/obj/
src/c/*/[Rr]elease*/
src/c/_ReSharper*/
src/c/[Tt]est[Rr]esult*

# Ignore intermediate outputs
src/c/*/Intermediate/
# Allow commit of debug info in bin directory
#!bin/*.pdb
#ignore binaries in MATLAB source
#src/MATLAB/*.mexw32
bin/*.*
bin/*.exe
src/MATLAB/capture/*.*
src/MATLAB/filmstrip/*.*
src/MATLAB/*.csv
src/MATLAB/filmstrip/*/*
src/MATLAB/*.exe
bin64/*.exe
*.ipdb
*.iobj
*.exp
*.tlog
*.idb
*.opendb
src/c/Output/TrackerMex/Debug_x64/
src/c/Output/TrackerMex/Release_x64/
src/c/trackerMex.mexw64
