<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="LEVER Lineage Editor" Version="7.14.1" Manufacturer="http://bioimage.coe.drexel.edu" UpgradeCode="376927e6-92fc-432a-9c5a-5470be49b447">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseFile = "license/license.rtf"
          LogoFile ="resources/LEVER_logo.png"/>
    </BootstrapperApplicationRef>

    <Chain>
      <ExePackage Name="MCRInstaller" SourceFile = "dependencies/MCR_R2015b_win64_installer.exe" />
      <ExePackage Name="VCRedistributable" SourceFile = "dependencies/vcredist_x64.exe" />

      <MsiPackage Id="lever" SourceFile = "installer/lever.msi" />
    </Chain>
  </Bundle>
</Wix>
